<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.377683998422-bg7h4qpr7k56mplju0ikcmv4mvrfvt8t</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>377683998422-bg7h4qpr7k56mplju0ikcmv4mvrfvt8t.apps.googleusercontent.com</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
